@import "tailwindcss";

@theme {
    /* typography */
    --font-bagel: 'Bagel Fat One', sans-serif;
    --font-funnel: 'Funnel Sans', sans-serif;

    /* colors */
    --color-ink: #04030f;
    --color-carrot: #f6511d;
    --color-sage: #90a959;
    --color-cream: #fff7eb;
    --color-seaweed: #00b295;
    --color-bloom: #DA4167;
    --color-dusk: #4a5899;
    --color-mustard: #fed766;

}

body {
    @apply font-funnel text-ink text-lg bg-cream;
}

/* nav styles */
.navTitle {
    @apply font-bagel text-6xl;
}

.navLinks a{
    @apply font-normal text-2xl hover:font-semibold duration-500;
}

/* products section */

.product-card {
    @apply rounded-2xl py-2 px-6 border-2 border-ink;
}

.filter-button {
    @apply rounded-2xl border-2 border-carrot text-xl py-4 px-8 hover:bg-carrot hover:font-semibold hover:transition-all duration-700 hover:scale-105;
}
/* deco */

.deco {
    @apply w-40;
}